* {
    font-family: Roboto;
    margin: 0px;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#panel {
    display: flex;
    flex-wrap: wrap;
}

#calc-body {
    border: 5px solid black;
    border-radius: 50px;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#display {
    display: flex;
    align-items: center;
    justify-content: end;
    border: 3px solid black;
    height: 100px;
    width: 450px;
    border-radius: 30px;
    margin: 30px;
    word-wrap: break-word;
}

#digits-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    height: 350px;
    width: 250px;
    border-radius: 30px;
    margin: 30px; 
}

#operands-panel {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    height: 350px;
    width: 125px;
    border-radius: 30px;
    margin: 15px; 
    margin-top: 30px;
    align-content: flex-start;
    justify-content: center;
    padding-top: 20px;
    gap: 5px;
}

.buttons {
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
    border: 2px solid black;
    width: 70px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.buttons:focus{
    color: white;
    background-color: black;
}

.operators,
.equals {
    width: 100px;
    height: 50px;
}

.display-text {
    width: 400px;
    font-size: 36px;
    font-weight: 600;
    text-align: right;
    height:fit-content;
    margin: 20px;
}

.equal{
    height: 110px;
}
