* {
    margin: 0px;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#panel {
    display: flex;
    flex-wrap: wrap;
}

#calc-body {
    border: 5px solid black;
    border-radius: 50px;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#display {
    border: 3px solid black;
    height: 100px;
    width: 450px;
    border-radius: 30px;
    margin: 30px;
}

#digits-panel {
    display: flex;
    border: 3px solid black;
    height: 350px;
    width: 250px;
    border-radius: 30px;
    margin: 30px; 
}

#operands-panel {
    display: flex;
    border: 3px solid black;
    height: 350px;
    width: 125px;
    border-radius: 30px;
    margin: 15px; 
    margin-top: 30px;
}


